* {
	font-family: 'Open Sans', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

header {
	padding: 10px;
	position: fixed; 
	top: 0; 
	width: 100%; 
	background-color: #ffffff;
	box-shadow: 10px 5px 5px grey;
}



td {
    padding-top: .5em;
    padding-bottom: .5em;	
	padding-right: 10px;
}

th {
	padding-right: 20px;
}

footer {
	padding: 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;;
}

section {
	margin-left: 20px;  
}

#main { /*upper section*/
	display: flex;
	margin-top: 50px;
}

section div.info-container{ 
	padding-top: 50px;  /*center vertically*/
	flex-grow: 1;
}

section div.pic-container{
	flex-grow: 10;
}

/* combinators */
header {
	background-color: rgba(255,255,255,1);
	font-size: 2.5vh;
	text-align: center;
}
.main {
	background-color: rgba(200,200,200,0.85);
}
footer a,
footer {
	color: white !important;
	background-color: #333;
	text-decoration: none;
}